body {
    margin: auto;
    width: 800px;
}

header {
    text-align: center;
    color: yellow;
    text-shadow: 2px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}

section {
    background-color: aqua;
    padding: 10px;
 
}

footer {
    background-color: lightcoral;
    text-align: center;
    padding: 10px;
}

/* 목차 */
#목차 {
    background-color: green;
    padding: 1px;
    text-align: center;
    color:white;
}

#목차 li{
    list-style: none;
    display: inline-block;
    padding: 10px;
    font-size: 20px;
}

#목차 li:hover{
    background-color: bisque;
}

a {
    text-decoration: none;
}

a:visited {
    color: white;
}

a:hover {
    color: black;
}


/* 건학이념 */
#건학이념 {
    background-color: blue;
    padding: 30px;
    margin: 10px;
    color:white;
    text-align: center;
    font-size: 20px;
}

/* 교욱목적 */
#교육목적 {
    border: 1px solid blue;
    padding: 30px;
    margin: 10px;
}

/* 교욱목표 */
#교육목표 {
    border: 1px solid blue;
    padding: 20px;
    margin: 10px;
    text-align: center;
}

#Servant {
    border-top: 3px solid red;
    display: inline-block;
    width: 200px;
    padding: 0 10px 10px 0;
    text-align: justify;
}

#Servant:hover {
    border-left: 1px solid gray;
    border-bottom: 1px solid gray;
    border-right: 1px solid gray;
}

#Valuable {
    border-top: 3px solid gray;
    display: inline-block;
    width: 200px;
    vertical-align: top;
    padding: 0 10px 10px 0;
    text-align: justify;
}

#Valuable:hover {
    border-left: 1px solid gray;
    border-bottom: 1px solid gray;
    border-right: 1px solid gray;
}

#Creative {
    border-top: 3px solid green;
    display: inline-block;
    width: 200px;
    vertical-align: top;
    padding: 0 10px 10px 0;
    text-align: justify;
}

#Creative:hover {
    border-left: 1px solid gray;
    border-bottom: 1px solid gray;
    border-right: 1px solid gray;
}

#교육목표 div {
    border-left: 1px solid aqua;      /* 이렇게 하면 글씨가 안흔들림*/
    border-right: 1px solid aqua;
    border-bottom: 1px solid aqua;
}

/* 인재상 */
#인재상 {
    border: 1px solid blue;
    padding: 0 5px;
    margin: 10px;
    text-align: center;
}

#in1 {
    font-size: 20px;
    font-weight: bold;
}
#in2 {
    font-size: 45px;
    font-weight: bold;
}

/* 핵심역량 */
#핵심역량{
    text-align: center;
}

#핵심역량 div{
    display: inline-block;
    width: 100px;
    padding: 40px 0;
    font-size: 20px;
    border-radius: 55px;
}

#p1 {
    border: 5px solid red;
}

#p2 {
    border: 5px solid grey;
}

#p3 {
    border: 5px solid blue;
}

#p4 {
    border: 5px solid gray;
}

#p5 {
    border: 5px solid plum;
}

#핵심역량 > div:hover {
    text-shadow: 2px 2px 5px yellow;
    box-shadow: 2px 2px 5px yellow;
}
