/* ------------------------실습2--------------------------- */
/* 1.페이지 */
body {
    width: 800px;
    margin: 10px auto;
}

/* 2.제목 */
header {
    text-align: center;
    background-image: url("files/bgi.jpg");
    padding: 40px 50px;
    color: white;
    text-shadow: 1px 0px;
}

/* 3.목차 */
nav {
    background-color: lightslategray;
    padding: 5px;
}

nav ol {
    text-align: center;
    padding: 0;
}

nav li {
    list-style-type: none;
    display: inline-block;
    width: 160px;
    vertical-align: top;
    padding: 5px 10px;
}

nav a {
    text-decoration: none;
    font-size: 20px;
    font-weight: 900;
    color: white;
}

nav li:hover {
    background-color: lightgrey;
}

nav a:hover {
    color: black;
}

/* 4.본문 */
section {
    background-color: aqua;
    padding: 20px;
}

#교육목표 h4 {
    padding: 0 0 0 20px;
}

/* 바닥글 */
footer {
    background-color: lightcoral;
    padding: 30px;
    text-align: center;
    font-size: 20px;
}

/* ------------------------실습3--------------------------- */
/* 1 */

/* 2 */
#교육목표 div {
    width: 47%;
    display: inline-block;
    vertical-align: top;
    margin: 0 7px 0 5px;
}

#교육목표 h4 {
    background-color: lightblue;
    padding: 10px 15px;
    border: 1px dotted blue;
    margin: 0;
}

#교육목표 ul {
    border-bottom: 1px dotted blue;
    border-left: 1px dotted blue;
    border-right: 1px dotted blue;
    margin: 0;
}

/* 3 */
h2::first-letter {
    text-shadow: 1px 1px 1px blue;
}

h2 {
    text-shadow: 1px 1px 10px gray;
}

/* 4 */
#취득자격증 ul {
    list-style:circle
}

/* 5 */
div.구분선 {
    width: 400px;
    margin: auto;
}

div.구분선 > hr {
    width: 180px;
    display: inline-block;
    vertical-align: middle;
}